@using Microsoft.AspNetCore.Identity
@using ProjetoMVCEntityIdenty.ViewModels
@model LoginViewModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" class="form-check-inline">
        <p>Olá, @UserManager.GetUserName(User)! </p>
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
}
else
{
    <form asp-controller="Account" asp-action="Login" method="post" class="form-inline">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" required />
        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha" required />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

}